<div class="nav">
    <ul class="nav-list">
        <li><a href="/">首页</a></li>
        <li>
            <a href="/policy/58e4a0b04c2ded0e96fa643e?type=article">中心概况</a>
            <ul class="nav-sub-list">
                <% nav[1].children.forEach(function(item){%>
                <li>
                    <a class="main-lf-item"<%if(item.type=='link'){%> href="<%= item.link%>" target="_blank" <%}else if(!item.children || !item.children.length){%>href="/policy/<%=item._id%><%if(item.type=='article'){%>?type=article<%}else if(item.type=='page'){%>?type=page&path=<%= item.page%><%}}else{%>href="/policy/<%= item.children[0]._id%><%if(item.children[0].type=='article'){%>?type=article<%}else if(item.children[0].type=='page'){%>?type=page&path=<%= item.children[0].page%><%}}%>">
                        <%= item.name%>
                    </a>
                </li>
                <%})%>
            </ul>
        </li>
        <li>
            <a href="/news/58ddecf916f4200bc52294d3">
                新闻动态
            </a>
            <ul class="nav-sub-list">
                <% nav[0].children.forEach(function(item){%>
                <li>
                    <a class="main-lf-item"<%if(item.type=='link'){%> href="<%= item.link%>" target="_blank" <%}else if(!item.children || !item.children.length){%>href="/news/<%=item._id%><%if(item.type=='article'){%>?type=article<%}else if(item.type=='page'){%>?type=page&path=<%= item.page%><%}}else{%>href="/news/<%= item.children[0]._id%><%if(item.children[0].type=='article'){%>?type=article<%}else if(item.children[0].type=='page'){%>?type=page&path=<%= item.children[0].page%><%}}%>">
                        <%= item.name%>
                    </a>
                </li>
                <%})%>
            </ul>
        </li>
        <li>
            <a href="/service/58fdc89d642663116fc5122e?type=page&path=doctors">
                诊疗服务
            </a>
            <ul class="nav-sub-list">
                <% nav[2].children.forEach(function(item){%>
                <li>
                    <a class="main-lf-item"<%if(item.type=='link'){%> href="<%= item.link%>" target="_blank" <%}else if(!item.children || !item.children.length){%>href="/service/<%=item._id%><%if(item.type=='article'){%>?type=article<%}else if(item.type=='page'){%>?type=page&path=<%= item.page%><%}}else{%>href="/service/<%= item.children[0]._id%><%if(item.children[0].type=='article'){%>?type=article<%}else if(item.children[0].type=='page'){%>?type=page&path=<%= item.children[0].page%><%}}%>">
                        <%= item.name%>
                    </a>
                </li>
                <%})%>
            </ul>
        </li>
        <li>
            <a href="/info/58df152959d47b094dcab9f9">
                信息公开
            </a>
            <ul class="nav-sub-list">
                <% nav[3].children.forEach(function(item){%>
                <li>
                    <a class="main-lf-item"<%if(item.type=='link'){%> href="<%= item.link%>" target="_blank" <%}else if(!item.children || !item.children.length){%>href="/info/<%=item._id%><%if(item.type=='article'){%>?type=article<%}else if(item.type=='page'){%>?type=page&path=<%= item.page%><%}}else{%>href="/info/<%= item.children[0]._id%><%if(item.children[0].type=='article'){%>?type=article<%}else if(item.children[0].type=='page'){%>?type=page&path=<%= item.children[0].page%><%}}%>">
                        <%= item.name%>
                    </a>
                </li>
                <%})%>
            </ul>
        </li>
        <li>
            <a href="/train/58eaf2511d4295089e0073b2">科研培训</a>
            <ul class="nav-sub-list">
                <% nav[4].children.forEach(function(item){%>
                <li>
                    <a class="main-lf-item"<%if(item.type=='link'){%> href="<%= item.link%>" target="_blank" <%}else if(!item.children || !item.children.length){%>href="/train/<%=item._id%><%if(item.type=='article'){%>?type=article<%}else if(item.type=='page'){%>?type=page&path=<%= item.page%><%}}else{%>href="/train/<%= item.children[0]._id%><%if(item.children[0].type=='article'){%>?type=article<%}else if(item.children[0].type=='page'){%>?type=page&path=<%= item.children[0].page%><%}}%>">
                        <%= item.name%>
                    </a>
                </li>
                <%})%>
            </ul>
        </li>
        <li>
            <a href="/jkcj/58e44143e67f6303b969c8ef?type=page&path=netWork">
                健康促进
            </a>
            <ul class="nav-sub-list">
                <% nav[5].children.forEach(function(item){%>
                <li>
                    <a class="main-lf-item"<%if(item.type=='link'){%> href="<%= item.link%>" target="_blank" <%}else if(!item.children || !item.children.length){%>href="/jkcj/<%=item._id%><%if(item.type=='article'){%>?type=article<%}else if(item.type=='page'){%>?type=page&path=<%= item.page%><%}}else{%>href="/jkcj/<%= item.children[0]._id%><%if(item.children[0].type=='article'){%>?type=article<%}else if(item.children[0].type=='page'){%>?type=page&path=<%= item.children[0].page%><%}}%>">
                        <%= item.name%>
                    </a>
                </li>
                <%})%>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);">中心管理系统 </a>
            <ul class="nav-sub-list">
                <li>
                    <a href="/ing">OA系统</a>
                </li>
                <li>
                    <a href="/ing">培训管理系统</a>
                </li>
                <li>
                    <a href="/ing">财务管理系统</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/supervise/58f5c4464d9fe50d1e01c175">
                纪检监察
            </a>
            <ul class="nav-sub-list">
                <% nav[6].children.forEach(function(item){%>
                <li>
                    <a class="main-lf-item"<%if(item.type=='link'){%> href="<%= item.link%>" target="_blank" <%}else if(!item.children || !item.children.length){%>href="/supervise/<%=item._id%><%if(item.type=='article'){%>?type=article<%}else if(item.type=='page'){%>?type=page&path=<%= item.page%><%}}else{%>href="/supervise/<%= item.children[0]._id%><%if(item.children[0].type=='article'){%>?type=article<%}else if(item.children[0].type=='page'){%>?type=page&path=<%= item.children[0].page%><%}}%>">
                        <%= item.name%>
                    </a>
                </li>
                <%})%>
            </ul>
        </li>
        <li>
            <a href="/org/58ddc5994a354c08cee7cf8e">防痨协会</a>
            <ul class="nav-sub-list">
                <% nav[7].children.forEach(function(item){%>
                <li>
                    <a class="main-lf-item"<%if(item.type=='link'){%> href="<%= item.link%>" target="_blank" <%}else if(!item.children || !item.children.length){%>href="/org/<%=item._id%><%if(item.type=='article'){%>?type=article<%}else if(item.type=='page'){%>?type=page&path=<%= item.page%><%}}else{%>href="/org/<%= item.children[0]._id%><%if(item.children[0].type=='article'){%>?type=article<%}else if(item.children[0].type=='page'){%>?type=page&path=<%= item.children[0].page%><%}}%>">
                        <%= item.name%>
                    </a>
                </li>
                <%})%>
            </ul>
        </li>
        <li>
            <a href="/results/59225670087cba03af35537c">智慧结控</a>
        </li>
    </ul>
</div>