<div class="pagination">
    显示第<%= (page.page-1) * page.size+1 %>-<%= page.total < page.size ? page.total : (page.size*page.page+1)%>条记录 共<%= page.total%>条记录
    <% if(page.page > 1){ %>
    <a href="?page=<%= page.page-1%>">
        上一页 [第一页]
    </a>
    <% } %>
    <% if(page.total > page.page * page.size){ %>
    <a class="btn color-jf" href="?page=<%= Number(page.page)+1%>">下一页</a>
    
    <a class="btn" href="#">尾页</a>
    
    第
    <select>
        <% for(let i=1;i< page.total/page.size;i++){ %>
            <option value="<%= i %>"><%= i %></option>
        <% } %>
    </select>
    页
    <% } %>
</div>